<h1 class="page-title" *ngIf="course.courseId">Team Details for {{ course.courseId }}</h1>
<tm-loading-retry [shouldShowRetry]="hasLoadingFailed" [message]="'Failed to load details'" (retryEvent)="retryLoading()">
  <div class="section" *ngIf="course.courseId">
    <div *tmIsLoading="isLoadingCourse || isLoadingInstructor || isLoadingStudent" class="card">
      <div class="card-body fill-plain">
        <ng-container *ngIf="course.courseId">
          <div class="row">
            <div class="col-3 text-right">
              <label>Course ID:</label>
            </div>
            <div class="col-9">
              <span id="course-id">{{ course.courseId }}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-3 text-right">
              <label>Course name:</label>
            </div>
            <div class="col-9">
              <span id="course-name">{{ course.courseName }}</span>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="instructorDetails && instructorDetails.length">
          <div class="row">
            <div class="col-3 text-right">
              <label>Instructors:</label>
            </div>
            <div class="col-9" style="margin-bottom: .5rem;" id="instructors">
              <div *ngFor="let instructorDetail of instructorDetails">
                {{ instructorDetail.displayedToStudentsAs }}:
                <a href="mailto:{{ instructorDetail.email }}">{{ instructorDetail.name }} ({{ instructorDetail.email }})</a>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="student.courseId">
          <div class="row">
            <div class="col-3 text-right">
              <label>Your section:</label>
            </div>
            <div class="col-9">
              <span id="student-section">{{ student.sectionName }}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-3 text-right">
              <label>Your team:</label>
            </div>
            <div class="col-9">
              <span id="student-team">{{ student.teamName }}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-3 text-right">
              <label>Your name:</label>
            </div>
            <div class="col-9">
              <span id="student-name">{{ student.name }}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-3 text-right">
              <label>Your email:</label>
            </div>
            <div class="col-9">
              <span id="student-email">{{ student.email }}</span>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div *ngIf="!isLoadingTeammates && teammateProfiles.length" class="card bg-light mb-4">
    <div class="card-body">
      <h5 class="d-inline"><strong> Sort By: </strong></h5>
      <div class="btn-group" data-toggle="buttons">
        <button id="sort-name" class="btn btn-light" [disabled]="isSelectedForSorting(SortBy.RESPONDENT_NAME)" (click)="sortTeammatesBy(SortBy.RESPONDENT_NAME)">Name</button>
        <button class="btn btn-light" [disabled]="isSelectedForSorting(SortBy.RESPONDENT_EMAIL)" (click)="sortTeammatesBy(SortBy.RESPONDENT_EMAIL)">Email</button>
        <button class="btn btn-light" [disabled]="isSelectedForSorting(SortBy.STUDENT_GENDER)" (click)="sortTeammatesBy(SortBy.STUDENT_GENDER)">Gender</button>
        <button class="btn btn-light" [disabled]="isSelectedForSorting(SortBy.INSTITUTION)" (click)="sortTeammatesBy(SortBy.INSTITUTION)">Institution</button>
        <button class="btn btn-light" [disabled]="isSelectedForSorting(SortBy.NATIONALITY)" (click)="sortTeammatesBy(SortBy.NATIONALITY)">Nationality</button>
      </div>
    </div>
  </div>
</tm-loading-retry>

<div class="section" *ngIf="teammateProfiles.length">
  <div class="col-sm-12">
    <h4 class="font-weight-bold">Team Profiles</h4>
  </div>
  <div class="row" *ngFor="let teammateProfile of teammateProfiles">
    <div class="col-12">
      <div class="row">
        <div class="col-md-2 col-3">
          <img src="{{teammateProfile.photoUrl}}"
               class="profile-pic float-left" (error)="setDefaultPic(teammateProfile)">
        </div>
        <div class="col-md-10 col-9">
          <table class="table table-striped">
            <tbody>
            <tr>
              <td class="font-weight-bold">Name</td>
              <td>
                <span>
                  {{teammateProfile.studentProfile.shortName}}
                </span>
              </td>
            </tr>
            <tr>
              <td class="font-weight-bold">Email</td>
              <td>
                <a href="mailto:{{teammateProfile.studentProfile.email}}">{{teammateProfile.studentProfile.email}}</a>
              </td>
            </tr>
            <tr>
              <td class="font-weight-bold">Gender</td>
              <td>
                <span>{{teammateProfile.studentProfile.gender}}</span>
              </td>
            </tr>
            <tr>
              <td class="font-weight-bold">Institution</td>
              <td>
                <span>{{teammateProfile.studentProfile.institute}}</span>
              </td>
            </tr>
            <tr>
              <td class="font-weight-bold">Nationality</td>
              <td>
                <span>{{teammateProfile.studentProfile.nationality}}</span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
